.header {
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 40px;
    display: flex;
    justify-content: center;
    z-index: 1000;
    background: transparent;
}

.header-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    position: relative;
    padding: 5px 10px;
    letter-spacing: 1px;
    /* Mjuk övergång för alla ändringar (färg, position) med en varaktighet på 0,3 sekunder */
    transition: all 0.3s ease;
    text-decoration: none;
}

.logo:hover {
    color: white;
}


.nav-links {
    display: flex;
    gap: 10px;
}

.nav-links a {
    margin-left: 20px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    position: relative;
    padding: 5px 0;
    /* Mjuk övergång för alla ändringar med en varaktighet på 0,3 sekunder */
    transition: all 0.3s ease;
}

.nav-links a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #ff6347;
    /* Transition som gör att den understrykning som visas vid hover mjukt växer från 0% till 100% bredd */
    transition: width 0.3s ease;
}

.nav-links a:hover {
    color: #ff6347;
}

.nav-links a:hover::after {
    width: 100%;
}

/* Animation for active navigation item */
.nav-links a.active {
    color: #ff6347;
}

.nav-links a.active::after {
    width: 100%;
}

/* Responsive styles */
@media (max-width: 768px) {
    .header {
        padding: 15px 20px;
    }
    
    .logo {
        font-size: 20px;
    }
    
    .nav-links a {
        font-size: 16px;
        margin-left: 10px;
    }
}