.projects {
    width: 100%;
    height: 100vh;
    background-color: #020202;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.projects-content {
    max-width: 90%;
    width: 100%;
}

.projects-content h2 {
    font-size: 2.8rem;
    color: #fff;
    margin-bottom: 2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    position: relative;
    display: inline-block;
}

.projects-content h2::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
    height: 3px;
    background-color: var(--primary-color);
}

.project-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5rem;
}

.project-card {
    background-color: #3a3a3a;
    padding: 20px;
    width: 30rem;
    height: 20rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    transition: transform 0.3s ease;
}

.project-card:hover {
    transform: scale(1.05);
}